.movie-card {
  position: relative;
  font-family: Inter, sans-serif;
  display: flex;
  width: 450px;
  height: 280px;
  box-shadow: 0 4px 12px 0 rgba(107, 107, 107, 0.15);
  &__image {
    max-width: 183px;
  }
  &__details {
    display: flex;
    flex-direction: column;
    padding: 12px;
    text-align: left;
    row-gap: 7px;
    &-heading {
      color: #000;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      max-width: 215px;
    }
    &-release-date {
      color: #827E7E;
      font-size: 12px;
      font-weight: 400;
      line-height: 22px;
    }
    &-genres {
      display: flex;
      flex-wrap: wrap;
      row-gap: 8px;
    }
    &-no-data {
      font-size: 12px;
      color: #827E7E;
    }
    &-description {
      overflow: hidden;
      color: #000;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      word-wrap: break-word;
    }
    &-overall-rating {
      position: absolute;
      top: 8px;
      right: 8px;
      width: 30px;
      height: 30px;
    }
    &-user-rating {
      margin-top: auto;
    }
  }
}

@media (max-width: 1010px) {
  .movie-card {
    display: flex;
    flex-direction: column;
    padding: 6px 10px;
    max-height: 245px;
    &__image {
      max-width: 60px;
      position: absolute;
    }
    &__details {
      padding: 0;
      margin-left: 72px;
      height: 100%;
      &-heading {
        max-width: 280px;
      }
      &-description {
        margin-left: -72px;
      }
      &-user-rating {
        margin-top: auto;
        align-self: flex-end;
      }
    }
  }
}
