.movies{
  &-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 12px 36px;
    width: 100%;
    min-height: 100vh;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    padding-top: 36px;
    width: 100%;
  }
}

@media (max-width: 1010px) {
  .movies {
    &-section {
      padding: 0 16px 16px 16px;
    }
    &-list {
      padding-top: 10px;
    }
  }
}
