.page {
  min-height: 100vh;
  background-color: #F7F7F7;
}

.layout {
  max-width: 1010px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
}

@media (max-width: 1010px) {
  .layout {
    max-width: 440px;
  }
}
